# Node.js/JavaScript
node_modules/
npm-debug.log*
yarn-error.log*
*.log
/dist
/build

# C# / .NET
*.csproj.user
*.suo
*.user
*.sln.docstates
*.dll
*.pdb
*.exe
*.nupkg
*.vsidx
*.cache
*.nuget.props
*.nuget.targets
*.userprefs

# Build & obj
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
packages/
*.csproj.nuget.*

# IDEs
.vscode/
.idea/
*.sln.cache
*.sublime-*
*.orig
*.rej
*.swp
*.bak
*.tmp
*.db
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

# VS & Rider
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.rider*

# OS generated
.DS_Store
Thumbs.db

# Exclude only these from ignore
!.gitignore
!README.md
