# Игнорирование для Node.js/JavaScript
node_modules/
npm-debug.log
yarn-error.log
*.log
/dist
/build

# Игнорирование для C# / .NET
*.csproj.user
*.suo
*.user
*.sln.docstates
*.dll
*.pdb
*.exe
*.nuget.props
*.vsidx
*.nupkg
*.userprefs
[Bb]in/
[Oo]bj/
packages/
**/[Oo]bj/
**/[Bb]in/
*.csproj.nuget.*
*.nuget.*
*.userprefs

# Игнорирование для общих временных файлов
*.tmp
*.bak
*.cache
*.swp
.cache/

# Игнорирование для IDE/редакторов
.vscode/
.idea/
*.sublime-workspace
rider.project.model.*
*.sln.cache
*.csproj.nuget.*

# Игнорирование для macOS
.DS_Store

# Игнорирование для Windows
Thumbs.db

# Исключения
!.gitignore
!README.md