* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'HelveticaNeue', sans-serif;
}

.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 90px;
    padding-top: 25px;
    height: calc(100vh - 90px);
}

.profile-container {
    width: 800px;
    min-width: 700px;
    max-width: 800px;
    margin: 80px 15%;
    box-sizing: border-box;
}

.profile-header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    margin-top: 40px;
}

.profile-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #eee;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 20px;
    background-image: url('../img/default-profile.jpg');
    background-size: cover;
    background-position: center;
}

.profile-info {
    margin-left: 0;
}

.profile-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 9px;
}

.profile-info p {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}

.edit-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

#save-cancel-buttons {
    display: flex;
    gap: 8px;
    margin-left: 15px;
}

.outline-button {
    padding: 5px 15px;
    background-color: white;
    color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

.outline-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.filled-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.filled-button {
    padding: 5px 15px;
    background-color: #2563EB;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

.filled-button:hover:not(:disabled) {
    background-color: #1E4FC7;
}

.tabs-section {
    margin: 20px 135px;
}

.tabs {
    margin: 20px 150px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.tab-link {
    flex: 1;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
}

.tab-link img {
    display: block;
}

.tab-link.active {
    color: #2563EB;
}

.tab-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #2563EB;
}

.tab-content {
    margin: 50px -50px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    overflow-y: hidden;
    min-height: 100px;
}

.games-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

#games-list {
    list-style: none;
    padding: 0;
}

#games-list li {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

#games-list li span.game-name {
    display: inline-block;
    padding: 5px 10px;
    background-color: #EFF4FF;
    border-radius: 10px;
    color: #2563EB;
    overflow-wrap: break-word;
    max-width: 90%;
}

.remove-game {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

#add-game-section {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

#add-game-section input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}